<% @page_title = "【会社概要】" %>

<h5><%= @page_title %></h5>

<p>北羽新報社は、秋田県北部を中心とした地域の生活情報、オピニオンリーダーとして新聞づくりを続けています。情報化の進展とともに新聞の使命、役割はますます重要になっています。「北羽新報」は常に読者とともに毎日の暮らしを考え、正しい世論の形成、誠実で心通う情報の提供に努めています。</p>

<%= image_tag "neeaee.jpeg", size: "450x600", alt: "北羽新報" %>

<div class="company_brochure">
  <h5>【会社案内】</h5>
  <li>
    <tr>
      <td>創刊</td><td> 明治28(1895)年5月</td>
    </tr>
  </li>
  <li>
    <tr>
      <td>取締役社長</td><td> 山木　泰正</td>
    </tr>
  </li>
  <li>
    <tr>
      <td>発行形態</td><td> 北羽新報　日刊（朝刊）</td>
    </tr>
  </li>
  <li>
    <tr>
      <td>従業員</td><td> 70人（2018年1月現在)</td>
    </tr>
  </li>
  <li>
    <tr>
      <td>住所</td><td> 〒016-0891</td><td> 秋田県能代市西通町3-2</td>
    </tr>
  </li>
  <li>
    <tr>
      <td>電話番号</td><td> 0185-54-3150</td>
    </tr>
  </li>

  <h5>【北羽新報の紹介】</h5>
  <p>　北羽新報の創刊は明治28年５月。はじめは「能代商報」の題号で出され、それから「能代新報」を経て同43年10月に現在の「北羽新報」となりました。”北羽”は羽後の国（秋田県）の北部という意味です。創刊以来、「代天行道」を社是に、一貫して郷土の発展を願い、郷土とともに歩んできました。<br>　不偏不党の公正な報道はもちろんのこと、読者とともに地域の振興発展を考え、喜びや悲しみ、怒りを分かち合い、暮らしに役立つ情報を提供し、読者から「毎朝、北羽新報を読まないと一日が始まらない」と大きな親しみと信頼を得ています。<br>　本紙は、昭和30年代後半から紙面の技術革新に取り組み、日刊紙では全国２番目に活字を使わない、写真文字による紙面づくりに着手。依頼、コンピューターネットワークシステム、紙面のカラー化など先端技術を積極的に採用的に取り入れ、「より速く、より正確に、より美しく」をモットーに読者のニーズに対応した紙面をお届けしています。<br>　本社の事業では、70年以上の歴史を刻む４００歳野球大会、児童生徒の情操教育を狙いとした北羽美術展などくの主催、後援事業を実施。新聞事業はもとより、側面からも地域の経済や文化、スポーツ、暮らしに貢献しています。
  </p>
</div>
