<% @page_title = "このサイトについて" %>

<h1><%= @page_title %></h1>

<p>北羽新報社は、秋田県北部を中心とした地域の生活情報、オピニオンリーダーとして新聞づくりを続けています。情報化の進展とともに新聞の使命、役割はますます重要になっています。「北羽新報」は常に読者とともに毎日の暮らしを考え、正しい世論の形成、誠実で心通う情報の提供に努めています。</p>

<%= image_tag "neeaee.jpeg", size: "450x600", alt: "北羽新報" %>
