<ul class="special_issue_categories-footer">
  <% if current_user %>
    <div><%= link_to "コラムカテゴリーの編集", [:edit, special_issue_category] %></div>
    <div><%= link_to "コラムカテゴリーを削除する", special_issue_category, method: :delete, data: { confirm: "本当に削除しますか？" } %></div>
  <% end %>
</ul>
