<!-- カテゴリーネームの設定をspecialnewにrenderしたい -->
<%= render "shared/errors", obj: @special_issue_category %>

<tr>
  <th><%= form.label :category_name %></th>
  <td><%= form.text_field :category_name, size: 50 %></td>
</tr>
