<%= render "shared/errors", obj: @article %>
<div class="article_form_wrapper">
  <div class="article_form_title">
    <%= form.text_field :title, placeholder: "タイトル入力欄" %>
  </div>
  <div class="article_form_content">
    <%= form.rich_text_area :content, placeholder: "本文入力欄" %>
  </div>
</div>
