<table class="attr">
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 50, cols: 45 %></td>
  </tr>
  <tr>
    <th><%= form.label :content %></th>
    <td><%= form.rich_text_area :content, rows: 10, cols: 45 %></td>
  </tr>
</table>
