<% @page_title = "ニュースの新規登録" %>
<h3><%= @page_title %></h3>

<%= form_for @article do |form| %>
<%= render "form", form: form %>
  <div class="new_article_submit">
    <%= form.submit class: "btn btn-outline-dark btn-sm" %>
  </div>
<% end %>
