<div class="article_new_wrapper">
  <div class="article_new_title">
    <% @page_title = "ニュース新規登録" %>
    <h4><%= @page_title %></h4>
  </div>

  <%= form_for @article do |form| %>
  <%= render "form", form: form %>
    <div class="new_article_submit">
      <%= form.submit class: "btn btn-danger btn-block" %>
    </div>
  <% end %>
</div>
