<% @page_title = @article.title %>
<h5><%= @article.title %></h5>

<div class="article">
  <% if current_user %>
    <% if loyalty(@article, :articles).edit? %>
      <div class="toolbar"><%= link_to "編集", [:edit, :article] %></div>
    <% end %>
  <% end %>

<div class="article_strftime">
  <tr>
    <th>掲載日時</th>
    <td><%= @article.released_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
</div>

  <div class="content">
    <%= @article.content %>
  </div>
</div>
