<div class="cover_story_show_wrapper">
  <div class="cover_story_show_title">
    <!-- <h4><%= @cover_story.title %></h4> -->
    <%# h4タグでは長いタイトルを折り返せない %>
    <%= @cover_story.title %>
  </div>
  <div class="cover_story_show_content_area">
    <div class="cover_story_show_content">
      <%= @cover_story.content %>
    </div>
  </div>
  <% if current_user && loyalty(@cover_story, :cover_stories).index? %>
    <div class="cover_story_show_toolbar">
      <%= render "tool_for_cover_show", cover_story: @cover_story %>
    </div>
  <% end %>
</div>
