<% if obj.errors.present? %>
  <div id="errors">
    <h5>エラーがあります。</h5>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
