<div class="footer_wrapper">
  <div class="footer_content">
    <div class="footer_about">
      <%= link_to "会社概要", about_path %> |
    </div>
    <div class="footer_about_cory_right">
      Copyrigth (C)
       <%= link_to "北羽新報社","https://hokuu-onlines.herokuapp.com/" %>
      2002.7.1 -
    </div>
  </div>
</div>
