<% if current_user && loyalty(@top, :top).index %>
  <div class="questionnaire">
    <ul>
      <%= link_to "選挙アンケート", questionnaires_index_path, class: "btn btn-outline-secondary btn-sm" %>
    </ul>
  </div>
<% end %>
