
<div class="twitter">
  <div class="twitter_title">
    <ul>
      <li><h3><%= menu_link_to "【Twitter】", :microposts %></h3></li>
    </ul>
  </div>
  <div class="twitter_body">
    <% @microposts = Micropost.order(created_at: :desc).limit(10) %>
    <table class="table table-bordered">
      <ul>
        <% @microposts.each do |micropost| %>
        <li><%= link_to micropost.content.truncate(80), micropost %></li>
        <% end %>
      </ul>
    </table>
  </div>
</div>
