<% if current_user && loyalty(@top, :top).index %>
  <div class="questionnaire">
    <ul>
      <%= link_to "選挙アンケート", questionnaires_index_path, class: "btn btn-outline-secondary btn-sm" %>
    </ul>
  </div>
<% end %>

<div class="notice_board">
  <ul>

    <h3><%= menu_link_to "【掲示板】", :messages %></h3>
  </ul>
</div>

<div class="twitter">
  <ul>
    <li><h3><%= menu_link_to "【Twitter】", :microposts %></h3></li>
  </ul>
  <% @microposts = Micropost.order(created_at: :desc).limit(10) %>
  <table class="table table-bordered">
    <ul>
      <% @microposts.each do |micropost| %>
      <li><%= link_to micropost.content.truncate(80), micropost %></li>
      <% end %>
    </ul>
  </table>
</div>
