
<div class="advertisement_1">
<h2>広告スペース</h2>
  <div class="">
    <p>ここに広告掲載</p>
  </div>
</div>

<div class="notice_boad">
  <p>ここに掲示板</p>
</div>

<div class="twitter">
  <ul>
    <h5><%= menu_link_to "【Twitter】", :microposts %></h5>
  </ul>
  <p>ここにツイッターコーナー</p>
</div>
