
<div class="advertisement_1">
<h2>広告スペース</h2>
  <div class="">
    <p>ここに広告掲載</p>
  </div>
</div>

<div class="notice_board">
  <ul>
    <h3><%= menu_link_to "【掲示板】", :messages %></h3>
  </ul>
</div>

<div class="twitter">
  <ul>
    <h3><%= menu_link_to "【Twitter】", :microposts %></h3>
  </ul>
</div>
