<%= render "shared/errors", obj: @fishinginfo %>

<div class="fishinginfo_form_wrapper">
  <div class="fishinginfo_form_title">
    <%= form.text_field :title, placeholder: "タイトル入力欄" %>
  </div>
  <div class="fishinginfo_form_content">
    <%= form.rich_text_area :content, placeholder: "本文入力欄（動画の添付はできません）" %>
  </div>
</div>
