<% @page_title = "釣り情報記事新規作成" %>
<h1><%= @page_title %></h1>

<%= form_for @fishinginfo do |form| %>
  <%= render "form", form: form %>
  <div class="fishinginfo_button"><%= form.submit "釣り情報の登録", class: "btn btn-primary btn-sm" %></div>
<% end %>
