<div class="fishinginfo_logo">
  <%= image_tag "fishinginfo.gif", alt: "釣り情報" %>
</div>

<div class="fishinginfo_show_wrapper">
  <div class="fishinginfo_show_title">
    <h5><%= @fishinginfo.title %><h5>
  </div>
  <div class="fishinginfo_show_content_area">
    <div class="fishing_show_content">
      <%= @fishinginfo.content %>
    </div>
  </div>
  <div class="fishinginfo_show_toolbar">
    <%= render "footer_for_show", fishinginfo: @fishinginfo %>
  </div>
</div>
