<div class="error_page_wrapper">
  <div class="error_page_content">
    <% @page_title = "Internal Server Error" %>
    <h4>500 Internal Server Error</h4>
    <p>システムエラーのためページが表示できません</p>
  </div>
</div>
