<div class="error_page_wrapper">
  <div class="error_page_content">
    <% @page_title = "ログインが必要です" %>
    <h4><%= @page_title %></h4>
    <p>ログインしてください</p>
    <%= render "devise/shared/links" %>
  </div>
</div>
