<!-- 【藤里町長選】 -->
<div class="questionnaire_wrapper">
  <% if current_user.candidate_type == "fujisato_mayor" || current_user %>
    <p>現在、藤里町長選アンケートはありません</p>
  <% else %>
    <p>藤里町長選アンケートの掲載はありません</p>
  <% end %>
</div>
