<!-- 【藤里町議選】 -->
<div class="questionnaire_wrapper">
  <% if current_user.candidate_type == "fujisato_council" || current_user %>
    <p>現在、藤里町議選アンケートはありません</p>
  <% else %>
    <p>藤里町議選アンケートの掲載はありません</p>
  <% end %>
</div>
