<!-- 【三種町長選】 -->
<div class="questionnaire_wrapper">
  <% if current_user.candidate_type == "mitane_mayor" || current_user %>
    <p>現在、三種町長選アンケートはありません</p>
  <% else %>
    <p>三種町長選アンケートの掲載はありません</p>
  <% end %>
</div>
