    <!-- 【衆院選】 -->
<div class="questionnaire_wrapper">
  <% if current_user.candidate_type == "representative" || current_user %>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdIw2mQ5qDgn1gA-JBiWKLdAMhSMxC1rCh96Zy2ga-B2VM6wg/viewform?embedded=true" width="100%" height="1296" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  <% else %>
    <p>衆院選アンケートの掲載はありません</p>
  <% end %>
</div>
