<%= render "shared/errors", obj: @micropost %>

<!-- <table class="attr"> -->
<table class="micropost_form">
  <tr>
    <th><%= form.label :content %></th>
    <td><%= form.text_area :content, rows: 10, cols: 45 %></td>
  </tr>
</table>
