<div class="vote">
  <% @micropost.voters.order("votes.created_at").each do |voter| %>
    ♡<%= voter.email %>
  <% end %>

  <% if current_user && current_user.votable_for?(@micropost) %>
    <%= link_to "♡いいね!", [:like_micropost, @micropost],
      method: :patch, class: "button" %>
  <% end %>
</div>
