// Place all the styles related to the advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// // サイドバー広告関連・ここから
// 広告が入るボックスサイズ
#advertisement_box {
  width: 100%;
  margin-top: 1rem;
  padding: 0.2em;
  box-shadow: 0 0 6px #696969;  //左右上下対称に全体枠を装飾
}
//
// // 広告表示サイズ
#advertisement_box img {
  width: 100%;
  // padding: 0.2em;
}

// サイドバー上部に置かれた「広告一覧確認」ボタンを収納するボックス
.ad_tool_container {
  text-align: center;
}

// サイドバー上部「広告一覧確認」ボタン位置調整
.ad_tool_container .ad_tool {
  margin: 1rem 0;
}
// // サイドバー広告関連規定・ここまで

// ★★★★★★★★★★ app/views/advertisements ★★★★★★★★★★★★★

// ★★★★★★★★★★★★ form ★★★★★★★★★★★★★★★★★★★★
// フォーム全体枠
.advertise_form_wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
}

// 広告タイトル入力欄
input#advertisement_title {
  width: 80%;
  height: 1.4rem;
}

// 「広告URL」位置調整
.advertise_form_content_label {
  margin-top: 1rem;
}

// 広告URL入力欄
input#advertisement_image_url {
  width: 80%;
  height: 1.4rem;
}

// 「ファイルを選択」ボタン位置調整
.advertise_image_select_button {
  margin-top: 1rem;
}

// ★★★★★★★★★★★★ new ★★★★★★★★★★★★★★★★★★★★
.advertise_new_wrapper {
  display: flex;
  flex-direction: column;
}

// 「広告データ新規登録」位置調整
.advertise_new_title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

// 「広告を登録」ボタン位置調整
.advertise_new_button {
  margin-left: 1rem;
}

// ★★★★★★★★★★★★ index ★★★★★★★★★★★★★★★★★★★★
// indexページ全体枠
.advertise_index_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// 「広告新規作成」ボタン位置調整
.advertise_index_title {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

// advertise_index_listを収納するボックス
.index_advertisement {
  display: flex;
  flex-direction: column;
  margin: 0 0.6rem;
}

// 広告画像、タイトル、ツールを収納するボックス
.advertise_index_list {
  display: flex;   //広告画像、タイトル、ツールを１列横並び
  margin-top: 1rem;
  border-bottom: 0.5px dashed;
}

// 広告データが入るボックス
.ad_picture {
  width:50%;
}

// 広告タイトル
.ad_title {
  display: flex;
  align-items: center; //上下中央に配置
  margin-right: 1rem;
}

// 「差替え」「削除」ボタン
.ad_edit_delete {
  display: flex;
  align-items: center; //上下中央に配置
  margin-left: 1rem;
}

// 広告サイズ
.index_advertisement img {
  padding: 0em 0em 1em 2em;
  max-width: 70%;
}

.ad_title {
  white-space: nowrap;//広告タイトルを１行で表示
}

.ad_edit_delete {
  white-space: nowrap;//広告「差替え」「削除」ボタンを１行で表示
}



// //  【960px未満をタブレットと想定】
@media screen and (max-width: 959px) {
  // スマートフォンでindexページを見た際のサイズ
  .index_advertisement {
    img {
      max-width: 60%;
    }
  }
}

// 767px以下をスマートフォンと想定
@media screen and (max-width: 767px) {
  // スマートフォンでindexページを見た際のサイズ
  // .index_advertisement {
  //   img {
  //     max-width: 100%;
  //   }

    // ★★★★★★★★★★★★ form ★★★★★★★★★★★★★★★★★★★★
    // フォーム全体枠
    .advertise_form_wrapper {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      width: 100%;
    }

    // 広告タイトル入力欄
    input#advertisement_title {
      width: 95%;
      height: 1.4rem;
    }

    // 「広告URL」位置調整
    .advertise_form_content_label {
      margin-top: 1rem;
    }

    // 広告URL入力欄
    input#advertisement_image_url {
      width: 95%;
      height: 1.4rem;
    }

    // 「ファイルを選択」ボタン位置調整
    .advertise_image_select_button {
      margin-top: 1rem;
    }

// ★★★★★★★★★★★★ index ★★★★★★★★★★★★★★★★★★★★
  // advertise_index_listを収納するボックス
  .index_advertisement {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 0 0.6rem;
    width: 100%;
  }

  // 広告画像、タイトル、ツールを収納するボックス
  .advertise_index_list {
    display: flex;
    flex-direction: column; //広告画像、タイトル、ツールを縦並び
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    border-bottom: 0.5px dashed;
    // background-color: red;
  }

  // 広告データ (img)が入るボックス
  .ad_picture {
    // width: 100%;
    width: 150%;  //なぜ100%ではなく150％？
  }

  // 広告データ（img）
  .ad_picture img {
    display: flex;
    // justify-content: center;
    width: 100%;
  }

  // 広告データタイトル位置調整
  .ad_title {
    display: flex;
    justify-content: center;
    margin-bottom: 0.6rem;
  }

  // 「差替え」「削除」リンクボタン位置調整
  .ad_edit_delete {
    display: flex;
    justify-content: center;
    margin-bottom: 0.4rem;
  }

// ★★★★★★★★★★★★ index ★★★★★★★★★★★★★★★★★★★★

}
