// *
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//  */

 @import "bootstrap/scss/bootstrap";

// ページ全体
.container {
  font-family: Meiryo, sans-serif;
    font-size: 0.6em;
    width: 100%;
    height: 100%;
    padding: 28px 0px 0px 0px;
}

.header-logo.logo image_tag {
  width: 300px;
  height: 70px;
}

/* 左の枠（コンテンツを入れる） */
#main {
  min-height: 100vh;
  border: solid 1px;
  margin: 20px 0px 10px 10px;
  padding: 10px;
  font-size: 1.1em;
  line-height: 1.5;
}

// サイドバー
#aside {
  margin-top: 20px;
  padding-top: 10px;
  border: solid 1px;
}

// /* フッター */
footer {
  font: 0.7em Verdana;
  color: #888;
  margin: 0 0 0 10px;
  padding: 2em 1.5em;
  text-align: center;
  background-color: yellow;
  border: 1px solid;
}

// // ヘッダー部分
.heading-menu {
  display: flex;
  justify-content: start;
}

// 会社ロゴが入るボックス application.htmlでサイズを規定しているので不要？
// .header-logo {
//   width: 300px;
//   height: 70px;
// }

// ロゴの子要素が入るボックス
.heading-menu .header-logo .logo {
  flex: auto;
  margin: 3px;
  padding: 0;
}

// 会社ロゴ自体
.header-logo a {
  flex: auto;
  align-items: center;
}


// グローバルナビ
// ナビが入るコンテナーボックス
#dropmenu {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#dropmenu li {
  flex: auto;
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding-left: 3px;
  text-align: center;
  // border: 1px solid; ここでborderを設定すると「コラムと企画」のアイコンがうまく表示できない
}

#dropmenu li a {
  display: block;
  margin: 0;
  padding: 16px 0;
  color: black;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1;
  border: 1px solid;
  border-radius: 4px;
  background: #ffedab;
}

#dropmenu li ul {
  list-style: none;
  position:absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

#dropmenu li ul li {
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s;
}

#dropmenu li ul li a {
  padding: 13px 15px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}

#dropmenu > li:hover a { background: #f5f5f5; }
#dropmenu > li:hover li:hover > a { background: #6e7c0c }
#dropmenu > li:hover > ul > li {
  overflow: visible;
  height: 40px;
}

// 会社ロゴのサイズ指定。本来はtop.scssに記述する？
.logo img {
  width: 300px;
  height: 70px;
}


// 【サイドバーの設定】
//※以下↓↓↓↓↓↓ここから将来的に不要
.advertisement_1 h2 {
  font-size: 1em;
}

.notice_board {
  padding: 3px;
  border: solid 1px;
}

.notice_board ul {
  list-style: none;
}

.notice_board h3 {
  font-size: 2em;
}

// サイドバーのツイッター文字色を黒
.twitter a {
  color: black;
}

// サイドバーのツイッター・上下間隔を空ける
.twitter li {
  padding-top: 0.5em;
}
// ↑↑↑↑↑↑↑将来的にここまで不要

// **メディアクエリ**
// 320px（最小）

// 560px未満

// // 960px未満をタブレットと想定
@media screen and (max-width: 959px) {
  .container {
    font-family: Meiryo, sans-serif;
    font-size: 0.6em;
    width: 100%;
    border: 1px solid;
  }

  #main {
    min-height: 100vh;
    font-size: 1.1em;
    line-height: 1.5;
  }

  .container.toppage_picture {
    width: 100vw;
    height: auto;
  }

  .logo img {
    width: 100%;
    height: 70px;
  }
}

// 560px以下をスマートフォンと想定
@media screen and (max-width: 559px) {
  .container {
    font-family: Meiryo, sans-serif;
      font-size: 0.6em;
      width: 100%;
      border: 1px solid;
  }

  #main {
    width: 100%;
    border: 1px solid;
    font-size: 1.1em;
    line-height: 1.5;
  }

  .container.toppage_picture {
    width: 100vw;
    height: auto;
  }

  .logo img {
    width: 100%;
    height: 70px;
  }
}
