// *
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//  */

@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ページ全体
.container {
  padding: 0;
  font-family: Meiryo, sans-serif;
  font-size: 0.6em;
  width: 100vw;
  height: 100%;
}

// mainとasideを一括収納するボックス
#main_wrapper {
  display: flex;
  // display: grid;
  // grid-template-columns: 2.3fr 1fr;  //mainとasideの比率を2.3対１に
}

/* 左の枠（コンテンツを入れる） */
#main {
  min-height: 100vh;
  width:100%;  //100%にしないと画像サイズで画面幅が変わってしまう
  font-size: 1.1em;
  line-height: 1.5;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ヘッダー（トップページ以外）
#header {
  margin-top: 2rem;  //ナビバー位置を少し下げる
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// サイドバー
#aside {
  width: 32%;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// /* フッター */
footer {
  font: 0.7em Verdana;
  color: #888;
  margin-bottom: 1.5rem;
  padding: 2rem 1.5rem;
  text-align: center;
  border: 1px solid;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【ナビゲーション】
// ヘッダーロゴとナビメニューを１列に配置
.header_nav_container {
  display: flex;
}

// ロゴのサイズ設定
.header_nav_container img {
  margin: 0 0 0 0.5rem;
  width: 7rem;
  height: 4rem;  //.nav_for_positionの高さ指定4remに合わせる
}

.header_nav_container video {
  margin: 0 0 0 0.5rem;
  width: 7rem;
  height: 4rem;  //.nav_for_positionの高さ指定4remに合わせる
}


// ★★★★★★★★★★★★★★★  メディアクエリ  ★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★  max-991  ★★★★★★★★★★★★★★★★★
@media screen and (max-width: 991px) and (min-width: 768px) {
  .container {
    width: 100%;
  }

  #main_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    // word-wrap: break-word;
    // word-break: break-all;
  }

  #main {
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
  }

  #header {
  }

  #aside {
    width: 100%;
  }

}
// ★★★★★★★★★★★★★★★  max-767  ★★★★★★★★★★★★★★★★★
@media screen and (max-width: 767px) {

  html {
    width: 100%;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  #main_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #main {
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
  }

  #header {
  }

  #aside {
    width: 100%;
  }
}
