// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【article/form】ページ
.artcile_form_wrapper {
  display: flex;
}
// ニュース新規登録時のタイトル欄
#article_title {          //検証で確認すると#article_titleになっている
  height: 2rem;
  // width: 100%;//やはりパーセント指定は不可
  width: 600px;
}

// ニュース新規登録本文入力欄
#article_content {
  // width: 70%;  //やはりパーセント指定は不可
  width: 600px;
  min-height: 10rem;
}
// アクションテキスト（記事入力フォーム）のツールバー
trix-toolbar {
  // font-size: 1rem;//ツールバーボタンの大きさ
  width: 100%;
  padding-top: 1rem;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【article/index】ページ
// indexページ全体枠
.article_index_wrapper {
  width: auto;
  margin: 1rem;
}

// 記事indexの「ニュース一覧」タイトル位置調整
.article_index_title {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
}

// 記事indexの「ニュース一覧」タイトルと装飾
.article_index_title h4 {
  font-style: oblique;
  font-family: sans-serif;
  color: black;
  padding: 0.2em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

// 「ニュース新規作成ボタン」位置調整
.article_index_regist_button {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem 1rem 0;
}

// 記事検索ボタン位置調整
.article_index_search_button {
  margin-bottom: 1rem;
}

// 記事一覧の「検索フォーム」、入力ページの「タイトル」フォームの大きさを整形
.article_index_search_button input[type="text"] {
  // width: 450px;
  width: 70%;
  height: 1.5rem;
  margin: 0.2rem;
}

// 記事indexの日時
.strftime {
  font-size: 1em;
  white-space: nowrap;// 記事indexの日時を１行で表示
}

// 記事indexのタイトル
.indextitle {
  font-size: 1.5em;
  text-align: left;
  display: block;
  word-wrap: break-word;//見出しが長い場合は折り返す
}

// 記事タイトル文字色
.indextitle a {
  color: black;
}

// 「編集｜削除」を１行で表示
td.article_edit_delete {
  white-space: nowrap;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【article/new】ページ
.article_new_wrapper {
  margin: 2rem;
  // background-color: skyblue;
}

.new_article_submit {
  margin-top: 1rem;
}

// ツールボタンいちばん右側の２つが離れすぎているため修正
.article_form_content span.trix-button-group.trix-button-group--history-tools {
  margin-right: 2rem;
}

.article_new_title {
  display: flex;
  justify-content: center;
}

// 「ニュース新規登録」装飾その１
.article_new_title h4 {
  position: relative;
  padding: 0.25em 0;
}

// 「ニュース新規登録」装飾その２
.article_new_title h4:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【article/edit】ページ
.article_edit_title {
  display: flex;
  justify-content: center;
}

// 「ニュースの編集」装飾その１
.article_edit_title h5 {
  position: relative;
  padding: 0.25em 0;
}

// 「ニュースの編集」装飾その２
.article_edit_title h5:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.article_edit_button {
  margin-top: 1rem;
  width: 80%;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【article/show】ページ
// 記事タイトル
.article_show_wrapper {
  width: auto;
  margin: 1rem;
}
.article_show_title {
  display: flex;
  justify-content: center;
  // width: 100%;
  width: 600px;
  // background-color: skyblue;
  margin: 0 1rem;
}

.article_show_title h5 {
  padding: 0.4rem 0.5rem;/*文字の上下 左右の余白*/
  // color: #494949;/*文字色*/
  // background: #f4f4f4;/*背景色*/
  // border-left: solid 5px #a0522d;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

.article_show_toolbar {
  margin: 0 0 0.3rem 0;
}

.article_show_content_area {
  width: 100%;
}

// 日時表示位置調整
.article_strftime {
  margin: 0.5rem;
}

// 記事を掲載するボックス
.article_show_content {
  max-width: 100%;
  margin: 0 2rem 0 1rem;
}

// 記事が表示される実際のボックス（記事も写真も一緒）
.article_show_content .trix-content {
  width: 600px;
  font-size: 0.8rem;
  line-height: 1.8;
  word-wrap: break-word;  //半角英数字の連続を改行
}

// キャプション
.article_show_content .attachment__caption {
  margin-top: 0.5rem;
  // display: none;  //キャプションを表示しない
}
