// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .artcile {
//   height: 500px;
// }
// .content {
//   // color: darkgray;
//   font-size: 22px;
// }

.top_title h1 {
  color: black;
  font-size: 2.5em;
  width: auto;
}
p {
  margin: 0 0 1em;
}

h1 {
  font-size: 25px;
  color: dimgray;
  margin: 0;
  padding: 0;
}

// .article-title {
//   height: 50px;
// }

// .article-content {
//   height: 300px;
// }

// .toolbar {
//   float: right;
// }

// 記事一覧の「検索フォーム」、入力ページの「タイトル」フォームの大きさを整形
input[type="text"] {
  width: 450px;
  height: 2em;
  margin: 2px;
}

// 記事入力フォーム（コンテント）のサイズ整形
.trix-content {
  // width: 450px;
  width: 100%;
  height: 10em;
  font-size: 20px;
}
// 検索ボタンの配置を整える（要素間の上下左右の間隔を整える）
.submit_tag {
  padding: 0.5em;
}

// アクションテキスト（記事入力フォーム）のツールバー
trix-toolbar {
  font-size: 0.7em;
  width: 100%;
}

.list thead {
  width: auto;
  display: flex;
}


tbody td {
  // width: auto;
  padding: 0.5em;
  line-height: 1.5;
  float: left;
}
