// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .artcile {
//   height: 500px;
// }
// .content {
//   // color: darkgray;
//   font-size: 22px;
// }

.top_title h1 {
  color: black;
  font-size: 2.5em;
  width: auto;

}
p {
  margin: 0 0 1em;
}

h1 {
  font-size: 25px;
  color: dimgray;
  margin: 0;
  padding: 0;
}

// .article-title {
//   height: 50px;
// }

// .article-content {
//   height: 300px;
// }

input[type="text"] {
  width: 500px;
  height: 40px;
}

.trix-content {
  width: auto;
  height: auto;
  font-size: 20px;
}

.list {
  width: auto;
}

tbody td {
  padding: 0.5em;
  line-height: 1.5;
  float: left;
}
