// Place all the styles related to the cover_stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@charset "UTF-8";
// ★★★★★★★★★  cover_story_formページ  ★★★★★★★★
// フォーム全体枠調整
.cover_story_form_wrapper {
  margin: 1rem;
}

// タイトル入力欄サイズ調整
.cover_story_form_title {
  width: 80%;
}

// タイトル入力欄サイズを拡大
.cover_story_form_title input {
  // display: flex;
  // justify-content: center;
  width: 600px;  //.cover_story_form_contentも横幅600pxに合わせる
  word-wrap: break-word;
}

// 本文入力欄
.cover_story_form_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover_story_form_content #cover_story_content {
  min-height: 10rem;
  width: 600px;  //.cover_story_form_contentも横幅600pxに合わせる
  word-wrap: break-word;
}

// ★★★★★★★★★  cover_story_indexページ  ★★★★★★★★
// 全体枠調整
.cover_story_index_wrapper {
  // display: flex;
  justify-content: center;
  padding: 0 1rem;
  // background-color: skyblue;
}
.cover_story_index_title_area {
  // display: flex;
  // justify-content: center;
  // width: 600px;
  // word-wrap: break-word;
  // background-color: red;
}

.cover_story_index_title {
  display: flex;
  justify-content: center;
  width: 600px;
  word-wrap: break-word;
  background-color: red;
}

.cover_story_index_content {
  // background-color: red;
  font-size: 1rem;
  line-height: 1.6;
}
// ★★★★★★★★★  cover_story_newページ  ★★★★★★★★
.cover_stroy_index_wrapper {
  margin: 0 1rem;
  margin: auto;
  width: 100%;
}


// ★★★★★★★★★  cover_story_showページ  ★★★★★★★★★
.cover_story_show_wrapper {
  display: flex;
  flex-direction: column;
}

// ページ最上部記事タイトル位置調整
.cover_story_show_title {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 2rem 0;
  word-wrap: break-word;
}

// 写真とキャプション全体が入るボックス
.cover_story_show_content .trix-content {
  // padding: 1.5rem 3rem;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.6;
  word-wrap: break-word;  //半角英数字の連続を改行
}

.cover_story_show_content {
  // margin: 0.5rem 0 0.5rem 1rem;
  justify-content: center;
  margin-left: 3rem;
  width: 80%;
  // background-color: skyblue;
}

// キャプションが入るボックス
.cover_story_show_content .trix-content .attachment__caption {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: black;
}

.cover_story_show_toolbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

// ★★★★★★★★★  cover_story_indexページ  ★★★★★★★★★
.cover_stroy_index_wrapper {
  padding: 1rem 3rem;
}
// 記事タイトル位置調整
.cover_story_index_title {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;

}
