@charset "UTF-8";
//
// ★★★★★★★★ devise/confirmations/new(パスワード再設定用メールを送信する)  ★★★★★
.devise_confirmations_new_wrappre {
  display: flex;
  flex-direction: column;
}

// 「パスワード再設定用メールを送信する」位置調整
.devise_confirmations_new_title h5 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

// 「メールアドレス」と入力欄が一緒に入るボックス
.devise_confirmations_new_field {
  margin-bottom: 1rem;
}

// アドレスを入録する欄
.devise_confirmations_new_field input {
  width: 70%;
  height: 1.5rem;
}

// 「送信する」ボタン
.devise_confirmations_new_actions_button {
  margin-bottom: 1rem;
}

// ★★★★★★★★★  password/new(newだけどパスワード更新用)  ★★★★★★★★★★★★★
.devise_password_new_wrapper {
  display: flex;
  flex-direction: column;
}

// 「パスワードを忘れてしまったら…」位置調整
.devise_password_new_title h5 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1rem;
}

// ユーザーネーム、メールアドレス入力欄を収納するボックス
.devise_password_new_form .field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

// ユーザーネーム、メールアドレス入力欄
.devise_password_new_form .field input {
  width: 90%;
}

// 「パスワードリセット用メールを送る」ボタン位置調整
.devise_password_new_button {
  margin: 0.5rem 0 1rem 0;
}

// ★★★★★★★★★★★★  sessions/new  ★★★★★★★★★★★★★★★★★★★★★
.session_new_body {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 1em;
}

// 「ログインページ」位置調整
// 「ログイン」文字位置調整
h4 {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin-left: 5rem;
}

// ユーザーネーム入力欄整形
.field dd input {
  width: 80%;
  height: 2.5em;
}

// メールアドレス,パスワード入力フォーム
dd input {
  width: 80%;
  height: 2.5em;
}

// メールアドレス、パスワード入力欄
.field {
  padding: 1em 0em;

}
// ログインボタンが入るボックス
.actions {
  padding: 0px 10px 10px 0;
}

.rememberable {
  padding: 3px 10px;
}

.sign_up {
  font-size: 12px;
  padding: 10px;
  float: left;
}

.forgotten_password {
  font-size: 12px;
  padding: 10px 10px 20px 10px;
  // float: right;
}

// ★★★★★★★★★  registrations/new(サインアップ)  ★★★★★★★★★★★★★
.devise_registrations_new_wrapper {
  display: flex;
  flex-direction: column;
}

// 「サインアップ」位置調整
.devise_registrations_new_title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

// 入力欄４本を収納するボックス
.devise_registrations_new_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // box-sizing: border-box;
  // width: 100%;
  // background-color: red;
}

// 入力欄のボックス
.devise_registrations_new_form_field {
  width: 90%;
  margin-bottom: 1rem;
}

// 入力欄
.devise_registrations_new_form_field input {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

.devise_registrations_new_form_action_button {
  margin: 0.5rem 0;
}

// ★★★★★★★★★★★★★★★  shared/_linksページ  ★★★★★★★★★★★★★★★★★
.devise_shared_links_wrapper {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  margin-top: 1rem;
}

// ★★★★★★★★★★★★★★★  メディアクエリ  ★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★  max-767  ★★★★★★★★★★★★★★★★★
@media screen and (max-width: 767px) {
  // ★★★★★★★★ devise/confirmations/new(パスワード再設定用メールを送信する)  ★★★★★
  .devise_confirmations_new_wrappre {
    display: flex;
    flex-direction: column;
  }

  // 「パスワード再設定用メールを送信する」位置調整
  .devise_confirmations_new_title h5 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 0.7rem;
  }

  // 「メールアドレス」と入力欄が一緒に入るボックス
  .devise_confirmations_new_field {
    margin-bottom: 1rem;
  }

  // アドレスを入録する欄
  .devise_confirmations_new_field input {
    width: 90%;
    height: 1.5rem;
  }

  // 「送信する」ボタン
  .devise_confirmations_new_actions_button {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

// ★★★★★★★★★★★★  password/new(newだけどパスワード更新用)  ★★★★★★★★★★★★★★★
  .devise_password_new_wrapper {
    display: flex;
    flex-direction: column;
  }

  // 「パスワードを忘れてしまったら…」位置調整
  .devise_password_new_title h5 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 0.7rem;
  }

  // ユーザーネーム、メールアドレス入力欄を収納するボックス
  .devise_password_new_form .field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }

  // ユーザーネーム、メールアドレス入力欄
  .devise_password_new_form .field input {
    width: 100%;
    box-sizing: border-box;
  }

  // 「パスワードリセット用メールを送る」ボタンを収納する位置調整
  .devise_password_new_button {
    display: flex;
    width: 100%;
  }

// パスワードリセット用メールを送る」ボタン
  .devise_password_new_button input {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }

  // ★★★★★★★★★  registrations/new(サインアップ)  ★★★★★★★★★★★★★
  .devise_registrations_new_wrapper {
    display: flex;
    flex-direction: column;
  }

  // 「サインアップ」位置調整
  .devise_registrations_new_title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  // 入力欄４本を収納するボックス
  .devise_registrations_new_form {
    display: flex;
    flex-direction: column;
  }

  // 入力欄のボックス
  .devise_registrations_new_form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }

  // 入力欄
  .devise_registrations_new_form_field input {
    display: flex;
    flex-direction: column;
  }

// サインアップボタン
  .devise_registrations_new_form_action_button {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0.5rem 0 0;
  }


  // ★★★★★★★★★★★★★★★  shared/_linksページ  ★★★★★★★★★★★★★★★★★
  .devise_shared_links_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0 0 1rem;
  }
}
