@charset "UTF-8";
.wrapper {
  width: auto;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.wrapper dt {
  float: left;
  padding: 1em;
  color: #998484;
}

.wrapper dd {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 1em 0 1em 18em;
}

.actions {
  padding: 10px;
}

.log_in {
  font-size: 12px;
  padding: 10px;
  float: left;
}

.rememberable {
  padding: 3px 10px;
}

.sign_up {
  font-size: 12px;
  padding: 10px;
  float: left;
}

.forgotten_password {
  font-size: 12px;
  padding: 10px 10px 20px 10px;
  // float: right;
}
