// ★★★★★★★★★★★★ layouts/error.html.erb ★★★★★★★★★★★★★★★★
/* エラー表示 */
// エラーページのロゴサイズ
header .logo img {
  margin-top: 1rem;
  width: 200px;
  height: 80px;
}

// 「TOPへ」位置調整
.error_page_menubar {
  margin-left: 1.5rem;
  padding-top: 1rem;
}

 #container {

   main h5 {
     display: flex;
     justify-content: center;
   }

   main p {
     display: flex;
     justify-content: center;
   }

    footer {
     // background-color: yellow;
    }
}
