/* エラー表示 */
// エラーページのロゴサイズ
header .logo img {
  width: 400px;
  height: 100px;
}

.menubar {
  padding-top: 1em;
}

 #container {

   main h5 {
     display: flex;
     justify-content: center;
   }

   main p {
     display: flex;
     justify-content: center;
   }

    footer {
     // background-color: yellow;
    }
}
