// Place all the styles related to the fishinginfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.attr {
  height: auto;
}

.fishinginfo {
  height: auto;
}

// 釣り情報新規作成フォーム・タイトル
#fishinginfo_title {
  width: 90%;
  height: 2.5em;
}

// 釣り情報新規作成フォーム・コンテント
#fishinginfo_content {
  width: 90%;
  padding-top: 3em;
}

// 「釣り情報登録ボタン」
.fishinginfo_button {
  padding-top: 2em;
}

.col-lg-12 .row .col-lg-4 {
  // padding: 10px;
  height: 50px;
  border: solid 1px;
  background: red;
}

.fishinginfo_logo img {
  width: 180px;
  padding-left: 1.5em;
}
