// // Place all the styles related to the messages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/
//
@charset "UTF-8";

.message_title  {
  display: flex;
  justify-content: center;
}

.message_content h1 {
  font-size: 2em;
}
