// // Place all the styles related to the messages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/
//
@charset "UTF-8";
// ★★★★★★★★★★★  message/form  ★★★★★★★★★★★★★
// タイトル入力欄サイズ調整
input#message_title {
  width: 80%;
  height: 1.6rem;
}

.messages_form_content_label {
  margin-top: 1rem;
}

// 本文入力欄サイズ調整
textarea#message_content {
  width: 80%;
  min-height: 10rem;
}

// ★★★★★★★★★★★  message/index  ★★★★★★★★★★★★★
.messages_index_wrapper {
  word-wrap: break-word;   //半角英数連続文字列突き抜け防止
  word-break: break-all;   //半角英数連続文字列突き抜け防止
}

.message_content_area {
  display: flex;
  flex-direction: column;
}

.message_title  {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

// 最上部「掲示板」タイトル装飾
.message_title h4 {
  position: relative;
  padding: 0.5em 1.2em;
  border-radius:1.5em;
  border: 1px solid #CCC;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow:inset 1px 1px 0 rgba(255,255,255,1);
  background: linear-gradient(#EFEFEF 0%, #FFF 50%, #EEE 50%, #FFF 100%);
}

// messageインデックスページ上部「新規掲載」ボタン位置調整
.current_user_toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 1.2rem 2rem 0 0;
}

.current_user_toolbar {
  .toolbar a {
    font-size: 1rem;
    color: white;
  }
}

// メッセージtitle位置調整
.index_message_title {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 0 1rem;
}

// 掲示板記事のタイトル
.index_message_title a {
  color: black;
}

.index_message_title h5 {
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  color: #fff;
  background: #fff8dc;
  -webkit-box-shadow: 5px 5px 0 #eee8aa;
  box-shadow: 5px 5px 0 #eee8aa;
}

// メッセージ本文
.index_message_content {
  display: flex;
  justify-content: center;
  margin: 1rem 3rem 0 1.5rem;
}

.index_message_content p {
  // font-size: 1rem;
  line-height: 1.3rem;
}

// インデックスページ　写真／動画位置調整
.index_message_media {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.index_message_media img {
  max-width: 80%;
  height: auto;
}

.index_message_media video {
  max-width: 80%;
  height: auto;
}

.message_index_footer {
  margin-top: 0.7rem;
}

// ★★★★★★★★★★★  message/show  ★★★★★★★★★★★★★
.messages_show_wrapper {
  word-wrap: break-word;   //半角英数連続文字列突き抜け防止
  word-break: break-all;   //半角英数連続文字列突き抜け防止
}

// 最上部「掲示板」タイトル位置調整
.message_show_title  {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0.5rem 0;
}

// 最上部「掲示板」タイトル装飾
.message_show_title h4 {
  position: relative;
  padding: 0.5em 1.2em;
  border-radius:1.5em;
  border: 1px solid #CCC;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow:inset 1px 1px 0 rgba(255,255,255,1);
  background: linear-gradient(#EFEFEF 0%, #FFF 50%, #EEE 50%, #FFF 100%);
}

// 掲示板記事title
.message_show_content_title {
  margin: 0 1.5rem 1rem 1.5rem;
}

// 記事title装飾
.message_show_content_title h5 {
  margin: 0 1.5rem;
  padding: 0.5rem 2rem;
  color: #000000;
  background: #fff8dc;
  -webkit-box-shadow: 5px 5px 0 #eee8aa;
  box-shadow: 5px 5px 0 #eee8aa;
}

// 記事本文
.message_show_content_body {
  margin: 1rem 2.5rem;
}

.message_show_content_body p {
  line-height: 2;  //行間高指定は単位指定なし
}

// 記事と一緒の写真／動画
.message_show_media {
  display: flex;
  justify-content: center;
  width: 100%;
}

// 写真サイズ調整
.message_show_media img {
   max-width: 80%;
   height: auto;
 }

// 動画サイズ調整
.message_show_media video {
  width: 80%;
  height: auto;
}

// 最下部　ツールボタン位置調整
.message_show_toolbar {
  display: flex;
  // justify-content: flex-end;
  margin: 1rem 0 1rem 1.5rem;
}

// ★★★★★★★★★★★  message/new  ★★★★★★★★★★★★★
// 「ファイルを選択」ボタン位置調整
.message_new_picture_button {
  margin: 0.7rem 0;
  font-size: 1rem;
}

.message_new_upload_button {
  display: flex;
  justify-content: center;
}

// ★★★★★★★★★★★  message/edit  ★★★★★★★★★★★★★
.message_edit_wrapper {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

// 最上部「掲示板記事編集」タイトル位置調整
.message_edit_title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}
  // 最上部「掲示板記事編集」タイトル装飾
.message_edit_title h4 {
  position: relative;
  padding: 0.5em 1.2em;
  border-radius:1.5em;
  border: 1px solid #CCC;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow:inset 1px 1px 0 rgba(255,255,255,1);
  background: linear-gradient(#EFEFEF 0%, #FFF 50%, #EEE 50%, #FFF 100%);
}

// 「掲示板一覧表示」ボタン位置調整
.message_edit_toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem 1rem 0;
}

// フォームを包括するボックス
.message_edit_form_area {
  display: flex;
  justify-content: center;
}

// タイトル入力欄サイズ調整
.message_edit_wrapper input#message_title {
  width: 130%;
}

// 本文入力欄サイズ調整
.message_edit_wrapper textarea#message_content {
  width: 130%;
}

// 「ファイルを選択する」ボタン位置調整
.message_edit_picture_button {
  margin: 1rem 0;
}

.message_edit_submit {
  display: flex;
  justify-content: center;
  margin: 0.7rem 0 1rem 1rem;
}
