// Place all the styles related to the microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p {
  margin: 0 0 1em;
}

// フッター部分全体像 文字サイズ、配置バランスなど
main ul.micropost-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px #ccf dashed;
  padding-top: 4px;
  margin-bottom: 15px;
  text-align: right;
  font-size: 1.2em;
}

main ul.micropost-footer li {
  display: inline;
}

main ul.micropost-footer li:not(:last-child):after {
  color: #444;
  content: " | ";
  margin: 0 2px;
}

.micorpostarea {
  height: auto;
}
