nav.pagination {
  font-size: 100%;
  padding: 4px 8px;
  border: 2px solid #499;
  /* word-spacing: 4px; */
  letter-spacing: 0.8em;
}

nav.pagination span.current {
  font-weight: bold;
}

pagination .page-link {
  color: red;
}
