// Place all the styles related to the SpecialIssues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.special_issue_regist {
  display: flex;
  justify-content: flex-end;
}

.special_category_regist {
  display: flex;
  justify-content: flex-end;
}

.category_index {
  display: flex;
  justify-content: flex-end;
}
