// Place all the styles related to the SpecialIssueCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【form】ページ
.sp_iss_cate_form_wrapper {
  width: 100%;  //必要?
  padding: 1rem;
}

// 「カテゴリー」ラベル位置調整
.sp_iss_cate_name_label {
  margin-bottom: -0.5rem;
}

// カテゴリー名入力欄位置調整  入力欄を指定しなくてもinput側で指定可能
.sp_iss_cate_name_area {
  // margin: 0.3rem 0 0.5rem 0;
}

// カテゴリー名入力欄サイズ整形
.sp_iss_cate_name_area input {
  width: 80%;
  height: 1.5rem;
  margin: 0.3rem 0 0.5rem 0;
}

// 「アイキャッチ」ラベル位置調整
.sp_iss_cate_eyechatch_label {
  margin: 0.5rem 0 -0.3rem 0;
}

// アイキャッチファイル名入力欄位置調整
.sp_iss_cate_eyechatch_area {
}

// アイキャッチファイル名入力欄サイズ整形
.sp_iss_cate_eyechatch_area input {
  width: 80%;
  height: 1.5rem;
}

// 「コラムカテゴリーを掲載しない」チェックボックス位置調整
.sp_iss_cate_form_tool {
  margin-top: 1rem;

}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【カテゴリーindexページ】
// インデックスページ全体
.sp_iss_cate_index_wrapper {
  padding: 1rem 1.5rem 1rem 1rem;
  word-wrap: break-word;   //半角英数連続文字列突き抜け防止
  word-break: break-all;   //半角英数連続文字列突き抜け防止
}

// 「コラムシリーズ一覧」装飾その１
.sp_iss_cate_index_title h5 {
  position: relative;
  margin: 0 1rem 1rem 1rem;
  padding: 0.5rem 2rem;
  border-bottom: 3px solid #deb887;
}

// indexの操作ボタン類配置
.special_issue_toolbar {
  display: flex;
  justify-content: space-around;
}

// indexの操作ボタン類 文字色黒に　文字サイズも縮小
.special_issue_toolbar a {
  font-size: 0.5em;
  color: black;
}

// コラムタイトル＋掲載日時を収納するボックス
.sp_iss_cate_content_area {
  justify-content: center;
  align-items: center;
  transition: all  0.3s ease;
}

// コラムタイトル表示効果（マウスオーバー時ににゅ〜っと動く)その１
.sp_cate_content_title {
  padding: 10px;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

// コラムタイトル表示効果（マウスオーバー時ににゅ〜っと動く)その2
.sp_cate_content_title:hover {
  background-color: #f5fffa;
  padding: 0.5rem 0 1rem 0;
  font-size: 1rem;
}

// コラムタイトル位置調整
.sp_cate_content_title h6 {
  align-items: center;
  padding-top: 1rem;  //ボックス中央（上下間隔)調整
}

// コラムタイトル文字色黒に
.sp_cate_content_title a {
  color: black;
}

// 「掲載日時」１行で表示
.sp_cate_content_starftime p {
  margin-left: 4rem;
  white-space: nowrap;
  padding-top: 1rem;
}

  // レスポンシブ用の記述をワイド画面では非表示
.sp_iss_cate_content_area_for_responsive {
  display: none;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【カテゴリーshowページ】
.sp_iss_cate_show_wrapper {
  // padding: 1rem;
  margin: 0 2rem;
  word-wrap: break-word;   //半角英数連続文字列突き抜け防止
  word-break: break-all;   //半角英数連続文字列突き抜け防止
}

// コラムシリーズタイトル位置調整
.sp_iss_cate_show_title {
  margin: 1rem 0;
  padding: 0.3rem 2.5rem;
}

// コラムシリーズタイトル装飾
.sp_iss_cate_show_title h5 {
  padding: 0.5em;
  background: ghostwhite;
  box-shadow: 0 0 4px rgb(176, 196, 222);
}
//リストの黒点を消す
li {
  list-style: none;
}

// タイトルと掲載日時が(1行で)入るボックス
.sp_iss_cate_show_content .table {
  // background-color: red;
}

// カテゴリータイトルが入るボックス
.sp_iss_cat_title {
  margin-left: 0px;
  width: 60%;
  white-space: normal;
}

 // 掲載日時が入るボックス
.sp_iss_cat_title a {
  color: black;
}

// 「掲載日時」
.sp_iss_cat_strftime {
  margin-left: 3rem;
  white-space: nowrap;
}

// 「掲載を中止しています」
.suspend_notice {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.sp_iss_cate_footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

// レスポンシブ用の記述は表示しない
.sp_iss_cate_show_content_for_responsive {
  display: none;
}

// ★★★★★★★★★★★★★ new ★★★★★★★★★★★★★★★★★★★
// newページ全体枠
.sp_iss_cate_new_wrapper {
  display: flex;
  flex-direction: column;
}

// 「コラムシリーズを新規作成する」位置調整
.sp_iss_cate_new_title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.sp_iss_cate_create_button {
  display: flex;
  margin-left: 1rem;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【special_category_edit】ページ
.sp_iss_cate_edit_button {
  display: flex;
  margin-left: 1rem;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// 【footerページ】
.special_issue_categories-footer {
  display: flex;
  justify-content: space-around;
}

.special_issue_categories-footer a {
  font-size: 0.5rem;
}


// ★★★★★★★★★★★★★★★  メディアクエリ  ★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★  max-991  ★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★ メディアクエリ ★★★★★★★★★★★★★★★
 // ★★★★★★★★★★★★★★★  max-991  ★★★★★★★★★★★★★★★★★
@media screen and (max-width: 991px) and (min-width: 768px) {

}


// ★★★★★★★★★★★★★★★  max-767  ★★★★★★★★★★★★★★★★★
// ★★★★★★★★★★★★★★★ toolbar ★★★★★★★★★★★★★★★
@media screen and (max-width: 767px) {
  .sp_iss_cate_toolbar {
  }

// ★★★★★★★★★★★★★★★ index ★★★★★★★★★★★★★★★
    // ワイド画面の規定を767px以下では非表示
  .sp_iss_cate_content_area {
    display: none;
  }

  // index画面全体
  .sp_iss_cate_index_wrapper {
    width: 100%;
    // background-color: skyblue;
  }

  // レスポンシブ用の規定を767px以下では表示
  .sp_iss_cate_content_area_for_responsive {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    // background-color: pink;
  }

  // カテゴリータイトル文字色を黒、文字サイズ調整
  .sp_cate_content_title_responsive a {
    font-size: 0.8rem;
    color: black;
  }

  // カテゴリータイトル、掲載日時を収納するボックス
  .sp_category_title_for_responsive {
    display: flex;
    flex-direction: column;
  }

  // 「掲載日時」位置調整
  .sp_cate_content_starftime_responsive {
    margin: -0.4rem 0 1rem 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px dotted;
  }

// ★★★★★★★★★★★★ show ★★★★★★★★★★★★★★★
  // ワイド画面用のテーブル表示をしない
  .sp_iss_cate_show_content {
    display: none;
  }

  // レスポンシブ用の記述を表示する
  .sp_iss_cate_show_content_for_responsive {
    display: block;
  }

  // カテゴリータイトルと「掲載日時」を収納するボックス
  .sp_iss_cate_title_and_datetime {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-bottom: 1px dotted;
  }

    // カテゴリータイトル文字サイズ
  .sp_iss_cat_show_title a {
    color: black;
    font-size: 0.8rem;
  }

  .sp_iss_cat_show_title:hover {
    background-color: #f5f5f5;
    padding: 0 0.4rem;
  }

  // 「掲載日時」位置調整
  .sp_iss_cat_strftime {
    display: flex;
    justify-content: flex-end;
    margin: 0.3rem 0;
  }

  // ★★★★★★★★★★★★ form ★★★★★★★★★★★★★★★★
  // カテゴリー名入力欄サイズ整形
  .sp_iss_cate_name_area input {
    width: 100%;
  }

  // アイキャッチファイル名入力欄サイズ整形
  .sp_iss_cate_eyechatch_area input {
    width: 100%;
  }

// ★★★★★★★★★★★★★ new ★★★★★★★★★★★★★★★★★★★
  // newページ全体枠

}
