// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@charset "UTF-8";

.top_title {
  width: 95%;
  text-align: center;
  margin-top: 2em;
  background-color: pink;
}

.top_title h2 {
  padding-top: 15px;
  background-color: pink;
}

.articles {
  font-size: 1.2em;
  padding: 0em 1em;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Courier New";
  font-size: 1em;
}

p {
margin: 0 0 1em;
font-size: 1em;
}

.toppage_picture {
  padding: 20px;
}


// トップページ写真のサイズ
.toppage_picture img {
  height: 300px;
  margin: 1px;
  padding: 1px;
  float: right;
}
