// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@charset "UTF-8";

// トップページ背景画像
.top_index_background_image {
  background-image: url("shirakami_2021cp.jpg");
  height: 270px;
  background-size: cover;
  opacity: 0.9;
}

// // 背景画像の中にナビバーを重ねる際の親要素
// .header_background_image_and_navbar {
//   position: relative;  //背景画像にナビを重ねるため、親要素にrelative指定
// }

// // 背景画像を重ねる際の子要素（ナビバー）
// .top_index_header {
//   position: absolute;  //背景画像にナビを重ねるため、子要素にabsolute指定
//   // width: 100%;
//   // box-sizing: border-box;
//   // height: 4rem;  //ナビバーの高さ指定
//   bottom: 5px;  //背景画像に重ねる際の位置調整
//   // background-color: white;
//   // border-radius: 10px;
//   // opacity: 0.9;
// }

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// ナビゲーション
// ロゴとナビが入る１列のボックス
.header_nav_container {
  display: flex;
  width: 100%;
}

// ナビが入っているボックス
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  // height: 3rem;
  box-sizing: border-box;
}

// トップページ ロゴサイズ
.navbar.navbar-expand-lg.navbar-light.bg-light img {
  // height: 3.5rem;
  height: 3rem;
  width: 6rem;
  margin-left: -0.3rem;
}

// ナビバーのアイコン
.navbar-nav a {
  color: black;  //アイコン文字色黒に
  font-size: 0.6rem;
}

// アイコンとハンバーガーボタンが入るボックス（ワイド、スマホ共通）
.navbar.navbar-expand-lg.navbar-light.bg-light {
  width: 100%;  //１００%にしないと横画面全体に広がらない
  // height: 3rem;
}

// ドロップダウンメニュー
.nav-item .dropdown-item {
  background-color: #f5f5f5;  //下方展開されるボックス背景色
  opacity: 0.9;
}

// ドロップダウンメニュー
.nav-item .dropdown-item a {
  font-size: 0.6rem;  //文字サイズ
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
// トップ画面タイトル（最新ニュース）
.top_title {
  width: 95%;
  text-align: center;
}

.top_title h2 {
  padding-top: 0.3em
}

.top_content_title {
  margin-top: 1.2em;
}

.top_content_title h5 {
  font-family: sans-serif;
}

.top_content_media {
  display: flex;
  justify-content: center; /*子要素を中央揃え？*/
  flex-direction: column; /*子要素を縦に配置する？*/
  margin-top: 1em;
  flex-direction: column;
  background: #f8f8ff; /*背景色*/
  border-top: solid 2px #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);/*影*/
}

// 画像／動画が入るボックス
.top_content_url {
  margin-top: 1rem;

  // トップindexに表示される画像サイズ
  img {
  width: 55vw;
  }

  // トップindexに表示される動画サイズ
  video {
    width: 55vw;
    height: auto;
  }
}

// トップページキャプション
.top_caption {
  padding-top: 0.2em;
  padding-bottom: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

// 「編集／削除」ボタンが入るボックス
.tool_section {
  display: flex;
}

// 「写真／動画をアップする」ボタンが入るボックス
.top_toolbar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

.top_toolbar a {
  font-size: 0.5rem;
}

// 「写真／動画をアップする」ボタン
.top_pics_upload_button {
  padding-right: 1rem;
}

.articles {
  font-size: 1.2em;
  padding: 0em 1em;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Courier New";
  font-size: 1em;
}

h5 {
  text-align: center;
}

p {
margin: 0 0 1em;
font-size: 1em;
line-height: 1.5em;
}

.company_brochure h5 {
  margin: 1em 0 0.5em 2em;
  text-align: center;
  width: 50%;
  background: palegreen;
}

.company_brochure td {
  padding-right: 5em;
}

// 【Topindexのページ】
.top_page_wrapper {
  flex-wrap: wrap;
  background-color: red;
  width: 100%;
}

// カバーストーリーとトップ写真を収納するボックス
.top_content_1st_row {
  display: flex; //カバーストーリーとトップ写真が横並び
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

// カバーストーリーを収納するボックス
.cover_stroy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58%;
  height: 15rem;
  background-color: pink;
}

// トップ写真を収納するボックス
.top_content_media {
  width: 40%;
  margin-top: 0;
  background-color: silver;
}

.top_content_2nd_row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

// 2nd_row内のボタン配置
.top_toolbar {
  flex-direction: row;
  justify-content: flex-end;
}

// 3rd_row左側、右側をまとめて収納するボックス
.top_content_3rd_row_wrapper{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

// カバーストーリーの下部、記事一覧とコラムを一括収納するボックス
.top_content_3rd_row_left {
  display: flex;
  width: 68%;
  justify-content: space-between;
  align-content: flex-start;  //サイドバー上下に伸長時、左側ボックスも間延びする
  flex-wrap: wrap;
}

// カバーストーリーの下部、記事一覧を納めるボックス
.top_page_articles_index {
  margin: 0 0 1rem 0;
  padding-left: 0.5rem;
  width: 48%;
  border: solid 1px;
  border-radius: 10px;
}

// 「最新ニュース」タイトル
.articles_index_title {
  display: flex;
  justify-content: center;
}

.articles_index_title h6 {
  margin-bottom: 1.4rem;
  position: relative;
  color: #d2691e;
  line-height: 1.4;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}

// 最新ニュース配下・記事タイトル
.top_page_articles_index a {
  font-size: 0.7rem;
  padding: 0.05em 0.5em;/*上下 左右の余白*/
  color: black;
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

// 「ニュース一覧へ」リンクの位置右側に
.top_articles_tool_button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

// 「ニュース一覧へ」ボタン
.top_articles_tool_button a {
  margin-right: 0.8rem;
  color: #00bfff;  //「ニュース一覧へ」文字色が青
  border-left: none;
}

// カバーストーリーエリア下部、コラム一覧を収納するボックス
.top_page_columns_index {
  margin: 0 0.4rem 1rem 0;
  padding-left: 0.5rem;
  width: 48%;
  border: solid 1px;
  border-radius: 10px;
}

// 「最新コラム」タイトルの位置を中央に
.column_index_title {
  display: flex;
  justify-content: center;
}

// 「最新コラム」タイトル装飾
.column_index_title h6 {
  margin-bottom: 1.4rem;
  position: relative;
  // color: #d2691e;
  color: #800000;
  line-height: 1.4;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}

.top_page_columns_index a {
  font-size: 0.7rem;
  padding: 0.05em 0.5em;/*上下 左右の余白*/
  color: black;
  background: transparent;/*背景透明に*/
  border-left: solid 5px #483D8B;/*左線*/
}

// 「コラムシリーズ」ボタン
.top_columns_tool_button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

// 「コラム一覧へ」リンクボタン
.top_columns_tool_button a {
  margin-right: 0.8rem;
  color: #00bfff;
  border-left: none;
}

// 【トップページ　メッセージボード】
// 掲示板全体を包括するボックス
.top_page_message {
  // align-items: flex-end;
  // align-items: flex-start;
  width: 100%;
  margin-right: 0.4rem;
  border: 1px solid;
  border-radius: 10px;
}

.top_page_message_title_area {
  display: flex;
  justify-content: center;  //「掲示板」タイトルを中央配置
}

// 「掲示板」タイトルの装飾その１
.top_page_message_title_area h4 {
  position: relative;
  // color: #158b2b;
  color: #2f4f4f;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}

// 「掲示板」タイトルの装飾その２
.top_page_message_title_area h4:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  // border: 5px solid rgb(160, 82, 45);
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

// 「掲示板」掲載記事タイトル中央配置
.top_message_title {
  display: flex;
  justify-content: center;
}

.top_message_title a {
  color: black;  //記事title黒色
}

// 掲示板掲載記事タイトル装飾その１
.top_message_title h5 {
  position: relative;
  padding: 0 25px;
  // padding-left: 0px;
}

// 掲示板掲載記事タイトル装飾その２
.top_message_title h5:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(250, 128, 114);
}

// 掲示板掲載記事タイトル装飾その3
.top_message_title h5:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  // width: 100%;
  width: 95%;
  border-bottom: solid 3px rgb(250, 128, 114);
}

// 掲示板・記事＆写真レイアウト調整
.top_whole_message_content_area {
  display: flex;
  flex-direction: row-reverse;
}
// 掲示板記事コンテント
.top_message_content {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 28px;
  // width: 67%;
  width: 100%;
}

// 掲示板用写真・動画表示エリア
.top_message_media {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}

// 掲示板用写真サイズ調整
.top_message_media img {
  width: 100%;
  // height: 100%;
  height: auto;
}

// 掲示板用動画サイズ調整
.top_message_media video {
  width: 100%;
  // height: 100%;
  height: auto;
}

// 「現在掲載はありません」位置調整
.page_voide_notice {
  display: flex;
  justify-content: center;
}

// 掲示板操作ツール
.top_message_tool {
  display: flex;
  justify-content: flex-end;
  margin: 15px 20px 15px 0;
}
// 【トップページサイドバー関連】
.top_content_3rd_row_right {
  width: 32%;
}



// **メディアクエリ**
@media screen and (max-width: 991px) {

  .navbar-nav {
    display: flex;
    justify-content: center;
    // margin-left: 1rem;
    padding-left: 1rem;
    width: 80%;
    box-sizing: border-box;
    // background-color: black;
    background-color: #b0c4de;
  }

  // ドロップダウンメニューの背景色
  .dropdown-menu .dropdown-item {
    background-color: #b0c4de;
  }

  // アイコン
  .navbar-nav a {
    // color: white;  //アイコン文字色白に
    color: black;
    margin-left: 1rem;
    border-bottom: solid 1px;
  }

  // .top_toolbar {
  //   display: flex;
  //   flex-wrap: wrap;
  // }
  //
  // .top_toolbar a {
  //   font-size: 0.5rem;
  // }

  // .top_pics_tool_button {
  //   display: flex-start;
  //   // padding-left: 1rem;
  // }

  // .toppage_picture img {
  //   width: 100%;
  //   height: auto;
  //   float: none;
  // }
}

// @media screen and (max-width: 766px) {
//   .navbar-nav {
//   // background-color: skyblue;
//   width: 100%;  //指定した上で#bs-naviで100vwにする
//   background-color: red;
//   opacity: 0.7;
//   }
// }

// max-width320と同じでＯＫ？
@media screen and (max-width: 414px) {
  .top_index_background_image {
    display: none;  // トップ背景画像は表示しない
  }

  // ロゴとハンバーガーメニューを１列表示
  .header_nav_container {
    display: flex;
    width: 100%;
  }

  // ハンバーガーメニューが入っているボックス
  .header_nav_container button {
  }

  // ハンバーガーメニューが入っているボックス(この指定でもOKぽい)
  // button.navbar-toggler {
    // background-color: red;
  // }

  // ハンバーガーメニューのバー
  span.navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
  }

  // ロゴサイズを縮小
  .navbar.navbar-expand-lg.navbar-light.bg-light img {
    height: 3rem;
    width: 5rem;
  }

  // 下方展開されるメニュー一覧
  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    opacity: 0.9;
  }

  // ドロップダウンメニュー
  .nav-item .dropdown-item {
    background-color: #f5f5f5;
    opacity: 0.9;
  }

  // ドロップダウンメニュー
  .nav-item .dropdown-item a {
    font-size: 0.7rem;  //文字サイズ
  }

  .toppage_picture img {
    max-width: 100%;
    height: auto;
  }

  .top_toolbar {
    display: flex;
    flex-wrap: wrap;
  }

  .top_toolbar a {
    font-size: 0.5rem;
  }

  .top_pics_tool_button {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .top_index_background_image {
    display: none;  // トップ背景画像は表示しない
  }

  // ロゴとハンバーガーメニューを１列表示
  .header_nav_container {
    display: flex;
    width: 100%;
  }

  // ハンバーガーメニューが入っているボックス
  .header_nav_container button {
    // background-color: red;
  }

  // ハンバーガーメニューが入っているボックス(この指定でもOKぽい)
  // button.navbar-toggler {
    // background-color: red;
  // }

  // ハンバーガーメニューのバー
  span.navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
  }

  // ロゴサイズを縮小
  .navbar.navbar-expand-lg.navbar-light.bg-light img {
    height: 2rem;
    width: 2rem;
  }

  // 下方展開されるメニュー一覧
  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    // background-color: #b0c4de;
    background-color: #f5f5f5;
    opacity: 0.9;
  }

  // ドロップダウンメニュー
  .nav-item .dropdown-item {
    background-color: #f5f5f5;
    opacity: 0.9;
  }

  // ドロップダウンメニュー
  .nav-item .dropdown-item a {
    font-size: 0.7rem;  //文字サイズ
  }
}
