// Place all the styles related to the top_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@charset "UTF-8";

// ★★★★★★★★★★★★  formページ  ★★★★★★★★★★★★★★★★★★★

// タイトル入力欄サイズ調整
input#top_content_title {
  width: 70%;
  height: 1.5rem;
}

.top_content_form_caption_label {
  margin-top: 1rem;
}

// チェックボックスと「掲載開始日時を指定する」を１列に
.start_date_box_row {
  display: flex;
}

// キャプション入力欄サイズ調整
input#top_content_caption {
  width: 70%;
  height: 1.5rem;
  margin-bottom: 0.8rem;
}

// チェックボックスと「掲載終了日時を指定する」を１列に
.finish_date_box_row {
  display: flex;
  margin-top: 1.5rem;
}

// ★★★★★★★  top_content_index（トップページではない)  ★★★★★★★★★
// ここから対象はtop_content_indexファイル
// content_indexの写真一覧を収納するボックス
.contents_index {
  // padding-top: 1rem;
  // background: whitesmoke;/*背景色*/
  margin-top: 1rem;
}

// 各写真／動画タイトル
.content_index_title {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-top: outset 0.2rem #ff7d6e;
}

.pics_date {
  display: flex;
  justify-content: flex-start;
}

// 写真／動画を収納するボックス
.url_box {
  display: flex;
  justify-content: center;
}

.url_box img {
  max-width: 90%;
  max-height: 70%
}

.url_box video {
  max-width: 90%;
  max-height: 70%
}

.top_content_caption {
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
}

// .top_content_url img {
//   width: 100%;
// }

// ★★★★★★★★★★★★  top_content_newページ  ★★★★★★★★★★★★★★★★★
.top_content_new_title {
  margin-top: 1rem;
}

.top_content_new_url {
  margin-top: 1rem;
  font-size: 0.7rem;
}
// 「登録するボタン」
.top_content_new_submit {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  padding-top: 0.3rem;
}


// ★★★★★★★★★★★★  top_content_editページ  ★★★★★★★★★★★★★★★★★
.picture_button {
  margin-top: 0.3rem;
}

// 「更新するボタン」
.top_editpage_submit {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  padding-top: 0.3rem;

}

@media screen and (max-width: 414px) {
  .container-fluid {
    width: 95%;
  }

  .field {
    width: 95%;
  }
}
