<p>Hello <%= @email %>様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>emailアドレス変更申請に伴うメール送信です <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>emailアドレス変更申請に伴うメール送信です <%= @resource.email %>.</p>
<% end %>
