<p>Hello <%= @resource.email %>様</p>

<p>パスワード変更リクエストに従って認証メールを送信しました。下記リンクをクリックすることでパスワードを変更することができます</p>

<p><%= link_to 'passwordを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は無視してください</p>
